.My-painting {
    background-color: #f9f9f9;
  }
  
  .painting-card {
    width: 300px;
  }
  

  
  .painting-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .painting-img {
    height: 400px;
    width: 200px
  }
  